.title{
    font-size: 50px;
    background-color: beige;
    text-align: center;
}

.img{
    text-align: center;
}
.img.img{
    text-align: center;

}

.h2{
    text-align: center;
    font-size: 33px;
    font-family: 'Courier New', Courier, monospace;
    background-color:cornflowerblue;
    color: whitesmoke;
    
}


.ull{
    background-color: beige;
    font-size: 20px;
}